.changelog-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 21px;
  width: 777px;
  gap: 21px;
  .change {
    display: grid;
    grid-template-columns: 1fr 0.5fr 1.5fr;
    width: 700px;
    text-align: center;
    * {
      padding: 7px;
      border-right: 1px solid #ccc;
      border-left: 1px solid #ccc;
    }
  }
  &.collapsed {
    height: 100px;
    overflow: hidden;
  }
  .changelog-header {
    display: flex;
    flex-direction: row;
    gap: 21px;
  }
  button {
    background-color: #393939;
    color: #fff;
    border: 1px solid #000;
    border-radius: 14px;
    padding: 1px 14px;
    &:hover {
      font-size: 0.95rem;
    }
  }
  details {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
    background: #282828;
    margin-bottom: 0.5rem;
    box-shadow: 0 0.1rem 1rem -0.5rem rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    overflow: hidden;
  }

  summary {
    padding: 1rem;
    display: block;
    background: #333;
    padding-left: 2.2rem;
    position: relative;
    cursor: pointer;
    user-select: none;
  }

  summary:before {
    content: "";
    border-width: 0.4rem;
    border-style: solid;
    border-color: transparent transparent transparent #fff;
    position: absolute;
    top: 1.3rem;
    left: 1rem;
    transform: rotate(0);
    transform-origin: 0.2rem 50%;
    transition: 0.25s transform ease;
  }

  details[open] > summary:before {
    transform: rotate(90deg);
  }

  details summary::-webkit-details-marker {
    display: none;
  }

  details > ul {
    padding-bottom: 1rem;
    margin-bottom: 0;
  }
}
